.parent{
    width: 900px;
    margin-left: 40px;
}
.box1, .box3, .box5 {
    width: 300px;
    text-align: right;
    margin-left: 55%;
    background-color: rgb(225,225,225,0.5);
}
.box2, .box4 {
    width: 300px;
   margin-right: 80%;
    background-color: rgb(225,225,225,0.5);
}
h3{
    font-size: 1.5em;
    font-family: arial;
}
