body {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menuu {
    font-family: Helvetica, sans-serif;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    width: 1200px;
    z-index: 9999;
}
.banner{
    background-image: url('../img/background\(1\).jpg');   
    position: relative;
    width: 1200px;
    height: 250px;
}

.chucnang {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0; /* Ẩn dropdown menu mặc định */
    visibility: hidden;
    list-style: none;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Thêm hiệu ứng transition */
}

.dropdown-menu li {
    margin-bottom: 10px;
    width: 200px;
}

.dropdown-menu a {
    width: 200px;
    text-decoration: none;
    color: #333;
}

.chucnang:hover .dropdown-menu {
    opacity: 1; /* Hiển thị dropdown menu khi di chuột vào */
    visibility: visible;
}


.sp {
    position: relative;
    margin-left: 10px;
}


/* Additional styling for the dropdown icon */
.fa-bars-staggered {
    cursor: pointer;
}
.hhh{
    color: #333;
    border: solid;
}
.colab{
    margin-top: 25px;
}
.like{
    display: flex;

  }
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;

}

.sp {
    margin-right: 10px;
}

.sp a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    display: block;
    margin-top: 20px;
}
.sp2 a{
    display: block;
    margin-left:20px;
}
.sp2 a {
    display: block;
    text-decoration: none;
    background-color: #3487FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.sp2 a:hover {
    background-color: red;
}
.sp1 a{
    display: block;
    text-decoration: none;
    color:gray;
    margin-top: 25px;
}
.sp p{
    display: block;
    margin-top: 19px;
}