.mainn{
    background-image: url("../img/bannerr.jpg");
    height: 500px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
}
h2{
    color:black;
}
.hello{
    color: white;
    width: 400px;
}
.textt{ 
    list-style: none;
    color: white;
    font-size: 1.25em;
    border: solid 2px gray;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}
.imgg{
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    width: 330px;
}
img{
    width: 100px;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}