.mainn{
    margin-top: 10px;
    background-image: url("../img/bannerr.jpg");
    height: 500px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
}
h2{
    color:black;
}
.hello{
    color:black;
    width: 400px;
}
.textt{ 
    list-style: none;
    color: black;
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 20px;
    width: 200px;
}
.imgg{
    align-items: middle;
    justify-content: space-between;
    margin-left: 10px;
    width: 330px;
}
.img1{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}